.cloud-block.about-page .approach .text {
    text-align: left;
}
.cloud-block.about-page .approach .link-list {
    padding: 10px 20px;
    list-style: initial;
}
.cloud-block.about-page .approach .link-list li {
     margin-bottom: 15px;
}

.shadow-block .middle-title {
    color: #3670d9;
}
.shadow-block .middle-title::before {
    background: #3670d9;
}
.cloud-block.about-page .approach {
    max-width: 1126px;
}
.cloud-block.about-page .approach .inner {
    max-width: 924px;
    margin: auto;
}
.cloud-block.about-page .approach .img-big-holder {
    padding: 20px 0 50px;
}
@media screen and (max-width: 767px) {
    .cloud-block.about-page .approach .img-big-holder {
        padding: 10px 0 35px;
    }
}
@media screen and (max-width: 580px) {
    .cloud-block.about-page .approach .img-big-holder {
        padding: 0 0 20px;
    }
}