.btn-transparent.btn-header:hover {
    color: #fff;
    background: #00e3ec;
}
.btn-transparent.btn-header {
    padding: 18px 35px;
    font-size: 18px;
    background: #fff;
    color: #3670d9;
    margin-top: 20px;
}
.main-info.azure-page {
    margin: 0;
}

section.discover-block.azure-block {
    background-color: #fff;
    padding: 67px 0 30px;
    
    @media (max-width: 767px) {
        padding: 30px 0;
    }
}

.discover-block.azure-block {
    
    .title {
        padding: 1em 0 0.5em;
    }
    .description {
        padding: 0.5em 0;
    }
    .middle-title {
        margin: 0 auto 100px;
    }
    .item .img-holder.p--o {
        padding: 0;
    }
    .text {
        text-align: center;
        padding: 0 0 52px;
        line-height: 1.6;
    }
    .item.item--width {
        max-width: 45%;
    }
    
    @media (max-width: 767px) {
        .middle-title {
            margin-bottom: 40px;
        }
        .item.item--width {
            width: 100%;
            max-width: none;
        }
    }
}

.modal-z .modal-backdrop {
    z-index: 1;
}