.cloud-block .img-big-holder1 {
    text-align: center;
    padding: 0 0 62px;
}

.image-tooltip .tooltip-wrap {
    position: relative;
    font-size: 13px;
    line-height: 1.3;
    background: #ffffff;
    border: 2px solid #00e3ec;
    border-radius: 3px;
    padding: 10px 10px 10px 20px;
    text-align: left;
    box-shadow: 0px 0px 10px 2px #ddd;
}

.image-tooltip .tooltip-wrap .triangle {
    position: absolute;
    top: -15px;
    left: 50%;
    margin-left: -19px;
    border: 1px solid #ffffff;
    border-width: 0 18px 17px;
    border-left-color: transparent;
    border-right-color: transparent;
}

.image-tooltip .sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    clip: rect(0,0,0,0);
    border: 0;
}

.image-tooltip .tooltip-wrap .triangle::after, .image-tooltip .tooltip-wrap .triangle::before {
    content: "";
    position: absolute;
    top: 5px;
    left: -4px;
    width: 24px;
    height: 2px;
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    background: #00e3ec;
}
.image-tooltip .tooltip-wrap .triangle::after {
    left: -20px;
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

.image-tooltip .key span {
    width: 12px;
    height: 12px;
    display: inline-block;
    margin: 0 8px 0 0;
}
.image-tooltip .key span.dc {
    border-radius: 12px;
    background: #00E6EB;
}
.image-tooltip .key span.intdc {
    border-radius: 12px;
    background: #006FA6;
}
.image-tooltip .key span.point {
    background: #51686F;
}
.image-tooltip .key span.df {
    height: 2px;
    background: #00E6EB;
    position: relative;
    margin-bottom: 5px;
}
.image-tooltip .key span.df3 {
    height: 2px;
    background: #006FA6;
    position: relative;
    margin-bottom: 5px;
}
.image-tooltip .inner {
    display: -ms-flexbox;
    display: flex;
    background: #fff;
}
.image-tooltip .inner .img-holder {
    width: 49%;
    font-size: 0;
}
.cloud-block.image-tooltip .container {
    border-bottom: 1px solid #ecf2fc;
    padding: 0 0 100px;
}
.cloud-block.image-tooltip {
    margin: 0 0 100px;
}
@media screen and (min-width: 581px) {
    .image-tooltip .tooltip-wrap {
        margin: -65px auto 35px;
        max-width: 60%;
    }
}
@media screen and (min-width: 710px) {
    .image-tooltip .tooltip-wrap {
        margin: -115px 9px 50px;
        max-width: 320px;
    }
}
@media screen and (min-width: 790px) {
    .image-tooltip .tooltip-wrap {
        margin: -145px 9px 50px;
        max-width: 320px;
    }
}
@media screen and (min-width: 880px) {
    .image-tooltip .tooltip-wrap {
        margin: -190px 9px 50px;
        max-width: 320px;
    }
}
@media screen and (max-width: 580px) {
    .image-tooltip .tooltip-wrap {
        margin: -50px auto 35px;
        max-width: 80%;
    }
    .cloud-block.image-tooltip .container {
        padding: 0 15px 0;
    }
    .cloud-block.image-tooltip {
        margin: 0 15px 35px;
    }
}
@media screen and (max-width: 420px) {
    .image-tooltip .tooltip-wrap {
        margin: -40px auto 35px;
        max-width: 100%;
    }
}
@media screen and (max-width: 767px) {
    .image-tooltip .inner .img-holder {
        width: 100%;
        text-align: center;
        padding-bottom: 35px;
    }
    .image-tooltip .inner {
        display: block;
    }
    .cloud-block.image-tooltip .container {
        padding: 0 15px 15px;
    }
    .cloud-block.image-tooltip {
        margin: 0 0 50px;
    }
}