.about-block{
	.container{
		max-width: 876px;
	}
	.item{
		display: flex;
		justify-content: space-between;
		margin: 0 0 113px;
		@include media('<tablet') {
			display: block;
			margin-bottom: 30px;
		}
		&:nth-child(even){
			flex-direction: row-reverse;
		}
		&:last-child{
			margin-bottom: 114px;
			@include media('<tablet') {
				margin-bottom: 30px;
			}
		}
		.text-part{
			width: 46.5%;
			margin-top: -7px;
			@include media('<tablet') {
				width: 100%;
				margin-top: 0;
			}
			.bold-title{
				max-width: 280px;
				line-height: 1.25;
				margin-bottom: 22px;
			}
		}
		.img-holder{
			width: 48.7%;
			@include media('<tablet') {
				width: 100%;
				text-align: center;
			}
		}
	}
}