.accordion-block{
	padding: 50px 0;
	margin: 0 0 65px;
	@include media('<tablet') {
		padding: 30px 0 15px;
		margin-bottom: 15px;
	}
	.accordion-wrap{
		margin: 0 0 53px;
		@include media('<tablet') {
			margin-bottom: 30px;
		}
	}
	.accordion-title{
		font-size: 15px;
		font-weight: 400;
		color: #b1b1b1;
		text-transform: uppercase;
		margin: 0 0 18px;
	}
}
.accordion{
	@extend %listreset;
	@include media('<tablet') {
		font-size: 14px;
	}
	.item{
		@include animate(all, 0.3s, linear);
		border-bottom: 1px solid transparent;
		position: relative;
		padding: 0 25px 0 0;
		margin: 0 0 17px;
		&:before{
			@include animate(transform);
			content: '';
			position: absolute;
			top: 4px;
			right: 0;
			width: 20px;
			height: 9px;
			background: url(../images/arrow-down.png) no-repeat 0/cover;
			@include media('retina2x') {
				background: url(../images/arrow-down-2x.png) no-repeat 0/cover;
			}
		}
		&.active{
			border-color: #ecf2fc;
			padding: 0 25px 14px 0;
			margin: 0 0 24px;
			&:before{
				transform: rotate(180deg);
			}
			.text{
				p{
					margin: 0 0 15px;
				}
			}
			.ac-link{
				&:hover{
					color: map-get($base, 'primary-color');
					.span{
						border-color: transparent;
					}
				}
			}
		}
	}
	.ac-link{
		@include animate(all, 0.3s, linear);
		display: block;
		font-weight: 700;
		text-decoration: none;
		margin: 0 0 -3px;
		.span{
			@include animate(border);
			border-bottom: 1px solid transparent;
			display: inline-block;
			max-width: 450px;
			padding: 0 0 2px;
		}
		&:hover{
			color: #b1b1b1;
			.span{
				border-color: #b1b1b1;
			}
		}
	}
	.text{
		display: none;
		max-width: 680px;
		p{
			@include animate(margin, 0.3s, linear);
			margin: 0;
		}
	}
}