.banner{
	padding: 0 15px;
	position: relative;
	background: #fbfbfb;
	height: 381px;
	overflow: hidden;
	@include media('<desktop') {
		padding: 0;
		height: auto;
	}
	&.performance-page{
		height: 379px;
		@include media('<desktop') {
			height: auto;
		}
		.img-holder{
			&:before{
				width: 40%;
				@include media('<widescreen') {
					width: 70%;
				}
			}
		}
		.text{
			@include media('<widescreen') {
				left: 55%;
				padding: 30px 30px 0 0;
			}
			@include media('<desktop') {
				padding: 15px;
			}
		}
	}
	&.tech-page{
		height: 380px;
		@include media('<desktop') {
			height: auto;
		}
		.img-holder{
			&:before{
				width: 40%;
				@include media('<widescreen') {
					width: 70%;
				}
			}
		}
		.text{
			padding-top: 80px;
			@include media('<widescreen') {
				left: 55%;
				padding: 30px 30px 0 0;
			}
			@include media('<desktop') {
				padding: 15px;
			}
			@include media('<tablet') {
				padding-top: 15px;
			}
		}
	}
	&.about-page{
		height: 379px;
		@include media('<desktop') {
			height: auto;
		}
		.text{
			padding-top: 79px;
			@include media('<widescreen') {
				left: 55%;
				padding: 30px 30px 0 0;
			}
			@include media('<desktop') {
				padding: 15px;
			}
		}
		.img-holder{
			&:before{
				width: 50%;
				@include media('<widescreen') {
					width: 70%;
				}
			}
		}
	}
	&.staytuned-page{
		height: 380px;
		@include media('<desktop') {
			height: auto;
		}
		.text{
			@include media('<widescreen') {
				left: 55%;
				padding: 30px 30px 0 0;
			}
			@include media('<desktop') {
				padding: 15px;
			}
		}
		.img-holder{
			&:before{
				width: 40%;
				@include media('<widescreen') {
					width: 70%;
				}
			}
		}
	}
	&.scaleup-page{
		height: 379px;
		@include media('<desktop') {
			height: auto;
		}
		.text{
			@include media('<widescreen') {
				left: 55%;
				padding: 30px 30px 0 0;
			}
			@include media('<desktop') {
				padding: 15px;
			}
		}
		.img-holder{
			&:before{
				width: 40%;
				@include media('<widescreen') {
					width: 70%;
				}
			}
		}
	}
	&.isv-page{
		height: 380px;
		@include media('<desktop') {
			height: auto;
		}
		.img-holder{
			&:before{
				width: 50%;
				@include media('<widescreen') {
					width: 70%;
				}
			}
		}
		.text{
			@include media('<widescreen') {
				left: 55%;
				padding: 30px 30px 0 0;
			}
			@include media('<desktop') {
				padding: 15px;
			}
			.title{
				margin-bottom: 20px;
				max-width: 390px;
			}
		}
	}
	.img-wrap{
		position: absolute;
		top: 0;
		left: 0;
		max-width: 730px;
		@include media('<desktop') {
			position: static;
			max-width: none;
		}
	}
	.img-holder{
		position: relative;
		font-size: 0;
		&:before{
			content: '';
			position: absolute;
			top: 0;
			right: -1px;
			width: 63%;
			height: 100%;
			background: linear-gradient(to right, rgba(251,251,251,0) 0%,rgba(251,251,251,0.21) 20%,rgba(251,251,251,0.82) 74%,rgba(251,251,251,1) 100%);
			@include media('<widescreen') {
				width: 70%;
			}
			@include media('<desktop') {
				width: 100%;
			}
			@include media('<desktop') {
				display: none;
			}
		}
		img{
			width: 100%;
		}
	}
	.text{
		font-size: 24px;
		position: absolute;
		top: 0;
		left: 50.9%;
		padding: 50px 86px 0 0;
		line-height: 1.4;
		@include media('<widescreen') {
			left: 55%;
			padding: 30px 30px 0 0;
		}
		@include media('<desktop') {
			position: static;
			padding: 15px;
			font-size: 18px;
		}
		.title{
			font-size: 37px;
			font-weight: 200;
			line-height: 1.12;
			margin: 0 0 21px;
			@include media('<desktop') {
				font-size: 24px;
				margin-bottom: 10px;
			}
		}
	}
	.btn-transparent{
		font-size: 18px;
		max-width: 195px;
		margin: 29px 0 0;
		padding: 12px 5px 14px;
		@include media('<desktop') {
			font-size: 16px;
			max-width: none;
			margin-top: 15px;
			padding: 10px 5px;
		}
	}
}