.cloud-block{
	margin: 0 0 140px;
	@include media('<tablet') {
		margin-bottom: 30px;
	}
	&.performance-page{
		margin-bottom: 143px;
		@include media('<tablet') {
			margin-bottom: 30px;
		}
		.items-hold{
			margin-bottom: 79px;
			@include media('<tablet') {
				margin-bottom: 30px;
			}
		}
		.middle-title{
			max-width: 450px;
			margin-bottom: 93px;
			@include media('<tablet') {
				margin-bottom: 40px;
			}
			&:before{
				margin-top: 48px;
				@include media('<tablet') {
					margin-top: 20px;
				}
			}
		}
		.meta{
			margin-bottom: 84px;
			@include media('<tablet') {
				margin-bottom: 30px;
			}
		}
		.mini-title{
			min-height: 72px;
			@include media('<tablet') {
				min-height: auto;
			}
		}
		.btn-transparent{
			padding: 14px 5px 15px;
		}
		.link-list{
			li{
				margin: 0;
			}
		}
	}
	&.tech-page{
		margin-bottom: 141px;
		@include media('<tablet') {
			margin-bottom: 30px;
		}
		.items-hold{
			margin-bottom: 79px;
			@include media('<tablet') {
				margin-bottom: 30px;
			}
		}
		.meta{
			margin-bottom: 84px;
			@include media('<tablet') {
				margin-bottom: 30px;
			}
		}
		.middle-title{
			margin-bottom: 94px;
			@include media('<tablet') {
				margin-bottom: 40px;
			}
		}
		.mini-title{
			min-height: 72px;
			@include media('<tablet') {
				min-height: auto;
			}
		}
		.btn-transparent{
			padding: 14px 5px 15px;
		}
		.link-list{
			li{
				margin: 0;
			}
		}
	}
	&.about-page{
		margin-bottom: 141px;
		@include media('<tablet') {
			margin-bottom: 30px;
		}
		.items-hold{
			margin-bottom: 79px;
			@include media('<tablet') {
				margin-bottom: 30px;
			}
		}
		.middle-title{
			margin-bottom: 93px;
			@include media('<tablet') {
				margin-bottom: 40px;
			}
			&:before{
				margin-top: 48px;
				@include media('<tablet') {
					margin-top: 20px;
				}
			}
		}
		.meta{
			margin-bottom: 84px;
			@include media('<tablet') {
				margin-bottom: 30px;
			}
		}
		.mini-title{
			min-height: 71px;
			@include media('<tablet') {
				min-height: auto;
			}
		}
		.btn-transparent{
			padding: 14px 5px 15px;
		}
		.link-list{
			li{
				margin: 0;
			}
		}
	}
	&.staytuned-page{
		margin-bottom: 141px;
		@include media('<tablet') {
			margin-bottom: 30px;
		}
		.items-hold{
			margin-bottom: 79px;
			@include media('<tablet') {
				margin-bottom: 30px;
			}
		}
		.middle-title{
			max-width: 450px;
			margin-bottom: 93px;
			@include media('<tablet') {
				margin-bottom: 40px;
			}
			&:before{
				margin-top: 48px;
				@include media('<tablet') {
					margin-top: 20px;
				}
			}
		}
		.meta{
			margin-bottom: 84px;
			@include media('<tablet') {
				margin-bottom: 30px;
			}
		}
		.mini-title{
			min-height: 72px;
			@include media('<tablet') {
				min-height: auto;
			}
		}
		.btn-transparent{
			padding: 14px 5px 15px;
		}
		.link-list{
			li{
				margin: 0;
			}
		}
	}
	&.scaleup-page{
		margin-bottom: 141px;
		@include media('<tablet') {
			margin-bottom: 30px;
		}
		.items-hold{
			margin-bottom: 79px;
			@include media('<tablet') {
				margin-bottom: 30px;
			}
		}
		.meta{
			margin-bottom: 84px;
			@include media('<tablet') {
				margin-bottom: 30px;
			}
		}
		.middle-title{
			max-width: 450px;
			margin-bottom: 93px;
			@include media('<tablet') {
				margin-bottom: 40px;
			}
			&:before{
				margin-top: 48px;
				@include media('<tablet') {
					margin-top: 20px;
				}
			}
		}
		.mini-title{
			min-height: 72px;
			@include media('<tablet') {
				min-height: auto;
			}
		}
		.btn-transparent{
			padding: 14px 5px 15px;
		}
		.link-list{
			li{
				margin: 0;
			}
		}
	}
	&.boost-product-page{
		.items-hold{
			margin-bottom: 78px;
			@include media('<tablet') {
				margin-bottom: 30px;
			}
		}
		.meta{
			margin-bottom: 84px;
			@include media('<tablet') {
				margin-bottom: 30px;
			}
			.middle-title{
				max-width: 500px;
				margin-bottom: 94px;
				@include media('<tablet') {
					margin-bottom: 30px;
				}
			}
		}
		.mini-title{
			min-height: 72px;
			@include media('<tablet') {
				min-height: auto;
			}
		}
		.btn-transparent{
			padding: 14px 5px 15px;
		}
		.link-list{
			li{
				margin: 0;
			}
		}
	}
	&.faq-page{
		margin-bottom: 141px;
		@include media('<tablet') {
			margin-bottom: 30px;
		}
		.middle-title{
			margin-bottom: 94px;
			@include media('<tablet') {
				margin-bottom: 40px;
			}
		}
		.meta{
			margin-bottom: 84px;
			@include media('<tablet') {
				margin-bottom: 30px;
			}
		}
		.mini-title{
			min-height: 48px;
			margin: 0 0 23px;
			@include media('<tablet') {
				min-height: auto;
				margin-bottom: 10px;
			}
		}
		.items-hold{
			margin: 0 -12px 78px;
			@include media('<tablet') {
				margin: 0 0 30px;
			}
		}
		.btn-transparent{
			padding: 14px 5px 15px;
		}
		.link-list{
			li{
				margin: 0;
			}
		}
	}
	&.isv-page{
		.middle-title{
			margin-bottom: 93px;
			@include media('<tablet') {
				margin-bottom: 40px;
			}
			&:before{
				margin-top: 48px;
				@include media('<tablet') {
					margin-top: 20px;
				}
			}
		}
		.meta{
			margin-bottom: 84px;
			@include media('<tablet') {
				margin-bottom: 30px;
			}
		}
		.items-hold{
			margin: 0 -12px 103px;
			@include media('<tablet') {
				margin: 0 0 30px;
			}
		}
		.item{
			.img-holder{
				margin-bottom: 30px;
			}
		}
	}
	&.road-page{
		margin: 0 0 247px;
		@include media('<tablet') {
			margin-bottom: 30px;
		}
		.mini-title{
			.thin{
				font-weight: 400;
			}
		}
	}
	.meta{
		text-align: center;
		line-height: 1.6;
		max-width: 754px;
		margin: 0 auto 89px;
		@include media('<tablet') {
			margin-bottom: 30px;
		}
	}
	.middle-title{
		color: map-get($base, 'primary-color');
		max-width: 520px;
		margin: 0 auto 95px;
		@include media('<tablet') {
			margin-bottom: 40px;
		}
		&:before{
			background: map-get($base, 'primary-color');
			margin-top: 49px;
			@include media('<tablet') {
				margin-top: 20px;
			}
		}
	}
	.items-hold{
		display: flex;
		justify-content: space-between;
		margin: 0 -12px 101px;
		@include media('<tablet') {
			display: block;
			margin: 0 0 30px;
		}
	}
	.inner{
		position: relative;
		.line{
			position: absolute;
			top: 203px;
			left: 50%;
			transform: translateX(-50%);
			width: 100%;
			max-width: 73.4%;
			height: 1px;
			display: block;
			background: map-get($base, 'primary-color');
			@include media('<tablet') {
				display: none;
			}
			&:before, &:after{
				content: '';
				position: absolute;
				left: -5px;
				top: -5px;
				width: 10px;
				height: 10px;
				border-radius: 50%;
				background: map-get($base, 'primary-color');
			}
			&:after{
				left: auto;
				right: -5px;
			}
			.circle{
				position: absolute;
				left: 50%;
				top: -5px;
				margin-left: -5px;
				width: 10px;
				height: 10px;
				border-radius: 50%;
				background: map-get($base, 'primary-color');
			}
		}
	}
	.item{
		font-size: 15px;
		text-align: center;
		width: 29%;
		line-height: 1.35;
		@include media('<tablet') {
			width: 100%;
			font-size: 16px;
			margin: 0 0 25px;
		}
		.img-holder{
			height: 203px;
			margin: 0 0 31px;
			@include media('<tablet') {
				height: auto;
				margin-bottom: 15px;
			}
		}
	}
	.text{
		line-height: 1.6;
		@include media('<tablet') {
			font-size: 15px;
		}
	}
	.link-list{
		@extend %listreset;
		li{
			margin: 0 0 1px;
		}
		a{
			@include animate(opacity);
			text-decoration: none;
			&:hover{
				opacity: .7;
			}
		}
	}
	.mini-title{
		font-weight: 700;
		display: block;
	}
	.btn-transparent{
		font-size: 18px;
		max-width: 254px;
		margin: 0 auto;
		padding: 14px 5px 16px;
		@include media('<tablet') {
			font-size: 16px;
			padding: 10px 5px;
		}
	}
}