.big-title{
	font-size: 94px;
	font-weight: 100;
	color: #fff;
	text-transform: uppercase;
	@include media('<desktop') {
		font-size: 50px;
	}
	@include media('<tablet') {
		font-size: 30px;
	}
}
.middle-title{
	font-size: 36px;
	font-weight: 200;
	color: #fff;
	max-width: 350px;
	position: relative;
	display: block;
	line-height: 1.13;
	margin: 0 auto 93px;
	text-align: center;
	letter-spacing: -0.3px;
	@include media('<tablet') {
		font-size: 21px;
		margin-bottom: 50px;
	}
	&:before{
		content: '';
		width: 300px;
		height: 2px;
		background: map-get($base, 'primary-color-light');
		position: absolute;
		top: 100%;
		left: 50%;
		transform: translateX(-50%);
		margin-top: 48px;
		@include media('<tablet') {
			width: 100px;
			height: 1px;
			margin-top: 20px;
		}
	}
}
.bold-title{
	font-size: 24px;
	font-weight: 700;
	color: map-get($base, 'primary-color');
	display: block;
	line-height: 1.3;
	margin: 0 0 8px;
	@include media('<tablet') {
		font-size: 20px;
	}
}
.container{
	max-width: 924px;
	margin: 0 auto;
	padding: 0 15px;
}
#wrapper{
	background: #fff;
}
.main{
	z-index: 2;
	position: relative;
	background: #fff;
}