.compliance-block{
	margin: 0 0 74px;
	@include media('<tablet') {
		margin-bottom: 30px;
	}
	&.boost-business-page{
		margin-bottom: 117px;
		@include media('<tablet') {
			margin-bottom: 30px;
		}
		.inner{
			justify-content: space-between;
		}
		.item{
			width: 29%;
			margin: 0;
			@include media('<tablet') {
				width: 100%;
				margin-bottom: 25px;
			}
			&:last-child{
				.img-holder{
					padding: 0;
				}
			}
			.img-holder{
				height: 168px;
				@include media('<tablet') {
					height: auto;
				}
			}
		}
		.mini-title{
			margin: 0 0 15px;
			min-height: 57px;
			@include media('<tablet') {
				min-height: auto;
			}
		}
	}
	&.scaleup-page{
		padding: 92px 0 277px;
		background: #f4f4f4;
		@include media('<tablet') {
			padding: 30px 0 15px;
		}
		.btn-transparent{
			font-size: 18px;
			max-width: 536px;
			margin: 64px auto;
			padding: 14px 4px 15px;
			@include media('<tablet') {
				font-size: 16px;
				margin: 15px auto;
			}
		}
	}
	.container{
		max-width: 980px;
		margin: 0 auto;
		padding: 0 15px;
	}
	.meta{
		font-weight: 700;
		max-width: 460px;
		margin: 0 auto 108px;
		padding: 0 15px;
		text-align: center;
		@include media('<tablet') {
			margin-bottom: 30px;
		}
	}
	.title{
		font-size: 30px;
		font-weight: 300;
		@include media('<tablet') {
			font-size: 21px;
		}
	}
	.inner{
		display: flex;
		justify-content: center;
		@include media('<tablet') {
			display: block;
		}
	}
	.item{
		font-size: 18px;
		text-align: center;
		width: 32%;
		margin: 0 16px;
		line-height: 1.35;
		@include media('<tablet') {
			width: 100%;
			font-size: 16px;
			margin: 0 0 25px;
		}
		&:last-child{
			.img-holder{
				padding: 14px 0 0;
			}
		}
		.img-holder{
			height: 178px;
			@include media('<tablet') {
				height: auto;
				margin: 0 0 15px;
			}
		}
	}
	.mini-title{
		font-weight: 700;
		display: block;
		margin: 0 0 25px;
		min-height: 72px;
		@include media('<tablet') {
			margin-bottom: 15px;
			min-height: auto;
		}
	}
}