.develop-block{
	margin: 0 0 170px;
	@include media('<tablet') {
		margin-bottom: 35px;
	}
	.meta{
		font-weight: 700;
		max-width: 460px;
		margin: 0 auto 48px;
		padding: 0 15px;
		text-align: center;
		@include media('<tablet') {
			margin-bottom: 30px;
		}
	}
	.title{
		font-size: 30px;
		font-weight: 300;
		@include media('<tablet') {
			font-size: 21px;
		}
	}
	.lists-wrap{
		margin: 0 0 59px;
		@include media('<tablet') {
			margin-bottom: 10px;
		}
	}
	.list{
		column-count: 2;
		column-gap: 24px;
		@include media('<tablet') {
			column-count: auto;
		}
	}
	.img-big-holder{
		border-bottom: 1px solid #ecf2fc;
		text-align: center;
		padding: 0 0 62px;
		@include media('<tablet') {
			display: none;
		}
	}
	.container{
		margin: 0 auto 36px;
		@include media('<tablet') {
			margin-bottom: 10px;
		}
	}
}
.container-img-text{
	max-width: 930px;
	margin: 0 auto;
	padding: 0 15px;
	.img-text{
		display: flex;
		justify-content: space-between;
		align-items: center;
		@include media('<tablet') {
			display: block;
		}
		.img-holder{
			width: 46%;
			@include media('<tablet') {
				width: 100%;
				text-align: center;
			}
		}
		.text-holder{
			width: 48.5%;
			@include media('<tablet') {
				width: 100%;
			}
		}
	}
	.bold-title{
		margin: 0 0 20px;
	}
	.link-next{
		font-size: 18px;
		font-weight: 700;
		max-width: 293px;
		display: block;
		text-decoration: none;
		position: relative;
		margin: 52px 0 0;
		padding: 0 40px 0 0;
		@include media('<tablet') {
			font-size: 16px;
			margin-top: 25px;
		}
		&:hover{
			.arrow{
				right: -15px;
			}
		}
		.arrow{
			@include animate(right);
			position: absolute;
			top: 3px;
			right: 0;
		}
	}
}