.discover-block{
	background: #eaf1fc;
	padding: 67px 0 125px;
	@include media('<tablet') {
		padding: 30px 0;
	}
	.container{
		max-width: 876px;
		margin: 0 auto;
		padding: 0 15px;
	}
	.middle-title{
		color: map-get($base, 'primary-color');
		margin: 0 auto 145px;
		@include media('<tablet') {
			margin-bottom: 40px;
		}
		&:before{
			background: map-get($base, 'primary-color');
			margin-top: 49px;
			@include media('<tablet') {
				margin-top: 20px;
			}
		}
	}
	.inner{
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
	}
	.item{
		max-width: 304px;
		text-align: center;
		position: relative;
		padding: 0 0 46px;
		margin: 0 0 100px;
		@include media('<tablet') {
			width: 100%;
			max-width: none;
			margin-bottom: 40px;
		}
		&:last-child{
			@include media('<tablet') {
				margin-bottom: 15px;
			}
		}
		&:nth-child(3){
			.img-holder{
				padding: 14px 0 0;
			}
		}
		.img-holder{
			min-height: 200px;
			margin: 0 0 16px;
			@include media('<tablet') {
				min-height: auto;
			}
		}
	}
	.info{
		font-size: 18px;
		line-height: 1.37;
		@include media('<tablet') {
			font-size: 16px;
		}
		.title{
			font-size: 13px;
			font-weight: 400;
			color: #0a3247;
			display: block;
			text-transform: uppercase;
			letter-spacing: 2px;
			margin: 0 0 3px;
		}
		.description{
			font-weight: 700;
			display: block;
		}
		.btn-transparent{
			position: absolute;
			bottom: 0;
			left: 0;
			width: 100%;
		}
	}
}