.feedback-block{
	max-width: 845px;
	margin: 0 auto;
	padding: 44px 15px 74px;
	background: #fff;
	color: map-get($base, 'primary-color');
	@include media('<tablet') {
		padding: 30px 15px;
	}
	.title-wrap{
		font-size: 18px;
		font-weight: 300;
		text-align: center;
		max-width: 360px;
		margin: 0 auto 28px;
		@include media('<tablet') {
			font-size: 16px;
		}
		.title{
			font-size: 36px;
			font-weight: 300;
			display: block;
			margin: 0 0 16px;
			@include media('<tablet') {
				font-size: 25px;
			}
		}
	}
}
.feedback-form{
	max-width: 251px;
	margin: 0 auto;
	@include media('<tablet') {
		max-width: none;
	}
	.modal-content &{
		max-width: none;
	}
	.btn-transparent{
		font-size: 18px;
		display: block;
		width: 100%;
		margin: 24px 0 0;
		padding: 16px 5px 15px;
	}
	.btn-fill{
		font-size: 18px;
		display: block;
		width: 100%;
		margin: 26px 0 0;
		padding: 16px 5px 15px;
		max-width: 224px;
		@include media('<tablet') {
			max-width: none;
		}
	}
}