.simple-input{
	@include placeholder {
		color: map-get($base, 'primary-color') !important;
	}
	color: map-get($base, 'primary-color');
	font-family: map-get($base, 'base-font-family');
	font-size: 15px;
	font-weight: 300;
	height: 50px;
	padding: 0 30px !important;
	border-radius: 5px !important;
	background-color: #fff;
	border: solid 1px #4379db !important;
	outline: none;
	display: block;
	box-shadow: inset 2px 0 8px rgba(0, 0, 0, .07);
	margin: 0 0 19px !important;
	width: 100%;
	.modal-content &{
		@include placeholder {
			color: #b1b1b1 !important;
		}
		padding: 0 29px !important;
	}
	&.textarea{
		height: 187px;
		padding: 17px 20px !important;
		resize: none;
	}
	&.error{
		@include placeholder {
			color: #ff0000 !important;
		}
		color: #ff0000;
		border-color: #ff0000 !important;
	}
}