.image-text-block{
	margin: 0 0 130px;
	@include media('<tablet') {
		margin-bottom: 30px;
	}
	&.performance-page{
		margin-bottom: 162px;
		@include media('<tablet') {
			margin-bottom: 30px;
		}
		.item{
			align-items: flex-start;
			&:last-child{
				border-bottom: none;
				padding: 0;
			}
			.img-holder{
				width: 49%;
				padding: 18px 0 0;
				@include media('<tablet') {
					width: 100%;
					padding: 0;
				}
			}
			.text{
				width: 43%;
				padding: 0 0 0 9.7%;
				@include media('<tablet') {
					width: 100%;
					padding: 0;
				}
				.bold-title{
					max-width: 276px;
					margin-bottom: 22px;
				}
				.description{
					color: #b1b1b1;
					margin: 5px 0 25px;
				}
			}
			.list{
				li{
					&:before{
						margin-top: 4px;
						top: 0;
					}
				}
			}
		}
		.link-next{
			line-height: 1.3;
			max-width: 274px;
			.arrow{
				top: 5px;
			}
		}
		.container{
			max-width: 1142px;
		}
	}
	&.staytuned-page{
		margin-bottom: 106px;
		@include media('<tablet') {
			margin-bottom: 30px;
		}
		.item{
			align-items: flex-start;
			&:last-child{
				border-bottom: none;
				padding: 0;
			}
			.img-holder{
				width: 41%;
				@include media('<tablet') {
					width: 100%;
				}
			}
			.text{
				.bold-title{
					max-width: 258px;
					margin-bottom: 22px;
				}
				.description{
					color: #b1b1b1;
					margin: 5px 0 25px;
				}
			}
			.list{
				li{
					&:before{
						margin-top: 4px;
						top: 0;
					}
				}
			}
		}
		.container{
			max-width: 1068px;
		}
	}
	&.scaleup-page{
		margin-bottom: 47px;
		@include media('<tablet') {
			margin-bottom: 30px;
		}
		.item{
			align-items: flex-start;
			padding-bottom: 76px;
			margin-bottom: 56px;
			@include media('<tablet') {
				padding-bottom: 30px;
				margin-bottom: 30px;
			}
			&:nth-child(even){
				margin-bottom: 3px;
				padding-bottom: 96px;
				@include media('<tablet') {
					padding-bottom: 15px;
				}
				.img-holder{
					width: 58%;
					@include media('<tablet') {
						width: 100%;
					}
				}
				.text{
					width: 39.2%;
					padding: 49px 0 0;
					@include media('<tablet') {
						width: 100%;
						padding: 0;
					}
				}
			}
			&:last-child{
				align-items: center;
				border-bottom: none;
				padding-bottom: 40px;
				@include media('<tablet') {
					padding-bottom: 20px;
					margin-bottom: 15px;
				}
			}
			.img-holder{
				width: 55.5%;
				@include media('<tablet') {
					width: 100%;
				}
			}
			.text{
				width: 42%;
				padding: 0;
				@include media('<tablet') {
					width: 100%;
				}
				.bold-title{
					margin-bottom: 22px;
					@include media('<tablet') {
						max-width: none;
					}
				}
				.description{
					color: #b1b1b1;
					margin: 5px 0 25px;
				}
			}
			.list{
				li{
					max-width: 365px;
					@include media('<tablet') {
						max-width: none;
					}
					&:before{
						top: 0;
						margin-top: 4px;
					}
				}
			}
		}
	}
	&.boost-product-page{
		margin-bottom: 57px;
		.item{
			border-bottom: none !important;
			margin-bottom: 97px;
			padding: 0;
			@include media('<tablet') {
				margin-bottom: 30px;
			}
			.img-holder{
				margin-right: -15px;
				@include media('<widescreen') {
					margin-right: 0;
				}
			}
			.text{
				width: 44%;
				@include media('<tablet') {
					width: 100%;
				}
				.bold-title{
					max-width: 365px;
					margin-bottom: 23px;
				}
			}
		}
		.hold-text{
			p{
				margin: 0 0 18px;
			}
		}
	}
	.item{
		display: flex;
		justify-content: space-between;
		align-items: center;
		border-bottom: 1px solid #eaf1fc;
		padding: 0 0 79px;
		margin: 0 0 82px;
		@include media('<tablet') {
			display: block;
			padding-bottom: 30px;
			margin-bottom: 30px;
		}
		&:nth-child(even){
			flex-direction: row-reverse;
		}
		&:last-child{
			border-bottom: 1px solid #c4cbde;
			padding-bottom: 120px;
			margin-bottom: 30px;
			@include media('<tablet') {
				padding-bottom: 30px;
			}
		}
		.text{
			width: 48%;
			padding: 8px 0 0;
			@include media('<tablet') {
				width: 100%;
				margin: 0 0 30px;
				padding: 0;
			}
			.bold-title{
				margin: 0 0 53px;
				line-height: 1.25;
				max-width: 345px;
				@include media('<tablet') {
					margin-bottom: 20px;
				}
			}
			.description{
				font-size: 15px;
				font-weight: 400;
				display: block;
				margin: 10px 0 54px;
				@include media('<tablet') {
					margin-bottom: 20px;
				}
			}
		}
		.img-holder{
			width: 48%;
			@include media('<tablet') {
				width: 100%;
				text-align: center;
			}
		}
	}
	.icons-list{
		@extend %listreset;
		display: flex;
		flex-wrap: wrap;
		@include media('<tablet') {
			display: block;
		}
		li{
			width: 50%;
			display: flex;
			align-items: center;
			padding: 0 15px 0 0;
			margin: 0 0 40px;
			@include media('<tablet') {
				width: 100%;
				padding: 0;
				margin: 0 0 20px;
			}
			p{
				margin: 0;
			}
		}
		.ico-holder{
			width: 69px;
			flex-shrink: 0;
			margin: 0 23px 0 0;
			@include media('<tablet') {
				width: 60px;
			}
			&.large-icon{
				position: relative;
				top: -9px;
				@include media('<tablet') {
					position: static;
					top: 0;
				}
			}
		}
		.description-wrap{
			max-width: 260px;
			@include media('<tablet') {
				max-width: none;
			}
		}
	}
	.link-next{
		font-size: 18px;
		font-weight: 700;
		max-width: 293px;
		display: block;
		text-decoration: none;
		position: relative;
		margin: 41px 0 0;
		padding: 0 40px 0 0;
		&:hover{
			.arrow{
				right: -15px;
			}
		}
		.arrow{
			@include animate(right);
			position: absolute;
			top: 3px;
			right: 0;
		}
	}
}