.image-list-box{
	margin: 0 0 186px;
	@include media('<tablet') {
		margin-bottom: 30px;
	}
	&.performance-page{
		margin-bottom: 134px;
		@include media('<tablet') {
			margin-bottom: 30px;
		}
		.text{
			padding: 42px 60px 43px 55px;
			@include media('<tablet') {
				padding: 15px;
			}
		}
		.text-list{
			li{
				margin-bottom: 18px;
			}
		}
		.inner{
			margin-top: 0;
		}
	}
	&.staytuned-page{
		margin-bottom: 171px;
		@include media('<tablet') {
			margin-bottom: 30px;
		}
		.text{
			padding: 42px 60px 43px 55px;
			@include media('<tablet') {
				padding: 15px;
			}
		}
		.text-list{
			li{
				margin-bottom: 18px;
			}
		}
		.inner{
			margin-top: 0;
		}
	}
	&.scaleup-page{
		margin-bottom: 105px;
		@include media('<tablet') {
			margin-bottom: 30px;
		}
		.inner{
			margin-top: -306px;
			@include media('<tablet') {
				margin-top: 0;
			}
		}
		.text{
			padding: 42px 60px 43px 55px;
			@include media('<tablet') {
				padding: 15px;
			}
		}
		.text-list{
			li{
				margin-bottom: 18px;
			}
		}
	}
	&.isv-page{
		margin-bottom: 176px;
		@include media('<tablet') {
			margin-bottom: 30px;
		}
		.inner{
			margin-top: 0;
		}
		.text-list{
			li{
				margin-bottom: 18px;
			}
		}
		.text{
			padding: 42px 55px;
			@include media('<tablet') {
				padding: 15px;
			}
		}
	}
	.container{
		max-width: 1096px;
		margin: 0 auto;
		padding: 0 15px;
	}
	.inner{
		display: flex;
		box-shadow: 1px 0 24px rgba(#0f3c58, .28);
		margin-top: -267px;
		background: #fff;
		@include media('<tablet') {
			display: block;
			margin-top: 0;
		}
	}
	.img-holder{
		width: 49%;
		font-size: 0;
		@include media('<widescreen') {
			position: relative;
		}
		@include media('<tablet') {
			width: 100%;
		}
		img{
			width: 100%;
			@include media('<widescreen') {
				position: absolute;
				top: 0;
				bottom: 0;
				left: 0;
				right: 0;
				height: 100%;
				object-fit: cover;
			}
			@include media('<tablet') {
				position: static;
			}
		}
	}
	.text{
		width: 51%;
		padding: 43px 100px 43px 55px;
		@include media('<tablet') {
			width: 100%;
			padding: 15px;
		}
	}
	.bold-title{
		margin: 0 0 15px;
	}
	.text-list{
		@extend %listreset;
		li{
			position: relative;
			padding: 0 0 0 15px;
			margin: 0 0 19px;
			@include media('<tablet') {
				margin-bottom: 10px;
			}
			&:before{
				content: '';
				position: absolute;
				top: 10px;
				left: 1px;
				width: 3px;
				height: 3px;
				border-radius: 50%;
				background: map-get($base, 'primary-color');
			}
		}
	}
}