.join-block{
	color: #fff;
	background: #14223d;
	padding: 115px 0 11px;
	@include media('<tablet') {
		padding: 30px 0;
	}
	.container{
		margin: 0 auto 121px;
		@include media('<tablet') {
			margin-bottom: 30px;
		}
	}
	.meta{
		font-size: 18px;
		font-weight: 200;
		text-align: center;
		max-width: 410px;
		margin: 0 auto 30px;
		@include media('<tablet') {
			font-size: 16px;
		}
	}
	.middle-title{
		color: #fff;
		margin-bottom: 99px;
		@include media('<tablet') {
			margin-bottom: 40px;
		}
		&:before{
			background: #fff;
		}
	}
	.wrap{
		display: flex;
		justify-content: space-around;
		@include media('<tablet') {
			display: block;
		}
	}
	.item{
		font-size: 18px;
		line-height: 1.37;
		font-weight: 300;
		text-align: center;
		width: 33%;
		@include media('<tablet') {
			font-size: 16px;
			width: 100%;
		}
		.img-holder{
			min-height: 230px;
			margin: 0 0 12px;
			@include media('<tablet') {
				min-height: auto;
			}
		}
		.title{
			font-weight: 700;
			display: block;
			line-height: 1.2;
			margin: 0 0 2px;
		}
	}
}