.list{
	@extend %listreset;
	&.three-columns{
		font-size: 14px;
		@include media('<tablet') {
			font-size: 15px;
		}
	}
	li{
		padding: 0 0 0 49px;
		margin: 0 0 18px;
		position: relative;
		-webkit-column-break-inside: avoid;
		.moz &{
			page-break-inside: avoid;
		}
		.ms &{
			break-inside: avoid;
		}
		&:before{
			content: '';
			position: absolute;
			top: 50%;
			left: 0;
			margin-top: -18px;
			width: 36px;
			height: 36px;
			background: url(../images/check.svg) no-repeat 0/cover;
		}
		@include media('<tablet') {
			margin-bottom: 15px;
			min-height: 36px;
			display: flex;
			align-items: center;
		}
	}
	.check{
		position: absolute;
		top: 0;
		left: 0;
		width: 35px;
		height: 35px;
		border-radius: 50%;
		border: 2px solid map-get($base, 'primary-color-light');
		display: block;
		&:before{
			content: '';
			position: absolute;
			top: 2px;
			left: 2px;
			width: 27px;
			height: 27px;
			border-radius: 50%;
			border: 2px solid map-get($base, 'primary-color-light');
			display: block;
		}
		&:after{
			content: '';
			position: absolute;
			top: 7px;
			left: 12px;
			border: solid map-get($base, 'primary-color-light');
			border-width: 0 2px 2px 0;
			display: inline-block;
			padding: 6px 3px;
			transform: rotate(45deg);
		}
	}
}