.lists-block{
	margin: 0 0 119px;
	@include media('<tablet') {
		margin-bottom: 30px;
	}
	.item{
		border-bottom: 1px solid #ecf2fc;
		padding: 0 0 93px;
		margin: 0 0 95px;
		@include media('<tablet') {
			padding: 0 0 15px;
			margin: 0 0 30px;
		}
		&:last-child{
			border: none;
			margin: 0;
			padding: 0;
			.images-row{
				margin: 0 0 54px;
				@include media('<tablet') {
					margin-bottom: 30px;
				}
			}
		}
		&:nth-child(even){
			margin: 0 0 107px;
			padding: 0 0 158px;
			@include media('<tablet') {
				margin: 0 0 30px;
				padding: 0 0 15px;
			}
			.images-row{
				flex-direction: row-reverse;
				margin-bottom: 101px;
				@include media('<tablet') {
					margin-bottom: 30px;
				}
				.img-holder{
					width: 45%;
					@include media('<tablet') {
						width: 100%;
					}
				}
				.text{
					width: 48.6%;
					@include media('<tablet') {
						width: 100%;
					}
				}
			}
			.list{
				column-count: auto;
				display: flex;
				flex-wrap: wrap;
				justify-content: space-between;
				@include media('<desktop') {
					display: block;
					column-count: 2;
					column-gap: 40px;
				}
				@include media('<tablet') {
					column-count: auto;
				}
				li{
					width: 32%;
					padding: 0 0 0 51px;
					margin: 0 0 15px;
					@include media('<desktop') {
						width: 100%;
					}
				}
			}
		}
	}
	.images-row{
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin: 0 0 94px;
		@include media('<tablet') {
			display: block;
			margin-bottom: 30px;
		}
		.text{
			width: 43%;
			@include media('<tablet') {
				width: 100%;
			}
		}
		.img-holder{
			width: 52%;
			text-align: center;
			@include media('<tablet') {
				width: 100%;
			}
		}
		.heading{
			font-size: 50px;
			font-weight: 100;
			@include media('<tablet') {
				font-size: 30px;
				text-align: center;
			}
		}
	}
	.list{
		column-count: 2;
		column-gap: 40px;
		@include media('<tablet') {
			column-count: auto;
		}
		li{
			padding: 0 0 0 56px;
			&:before{
				margin-top: 5px;
				top: 0;
			}
		}
		.title{
			display: block;
			a{
				@include animate(opacity);
				text-decoration: none;
				&:hover{
					opacity: .7;
				}
			}
		}
	}
}