.list-section{
	background: #f4f4f4;
	padding: 85px 0 42px;
	margin: 0 0 66px;
	@include media('<tablet') {
		padding: 30px 0 15px;
		margin-bottom: 30px;
	}
	.meta{
		max-width: 630px;
		margin: 0 auto 109px;
		text-align: center;
		line-height: 1.6;
		@include media('<tablet') {
			margin-bottom: 30px;
			font-size: 14px;
		}
	}
	.middle-title{
		color: map-get($base, 'primary-color');
		margin-bottom: 96px;
		@include media('<tablet') {
			margin-bottom: 40px;
		}
		&:before{
			background: map-get($base, 'primary-color');
			margin-top: 51px;
			@include media('<tablet') {
				margin-top: 20px;
			}
		}
	}
	.item{
		.heading{
			font-size: 18px;
			font-weight: 700;
			display: block;
			margin: 0 0 32px;
			min-height: 42px;
			@include media('<tablet') {
				min-height: auto;
				margin-bottom: 20px;
			}
		}
	}
	.lists-wrapper{
		display: flex;
		justify-content: space-between;
		@include media('<tablet') {
			display: block;
		}
		.item{
			width: 30.5%;
			@include media('<tablet') {
				width: 100%;
			}
			li{
				font-size: 14px;
				line-height: 1.3;
				padding: 0 0 0 51px;
				margin: 0 0 45px;
				@include media('<tablet') {
					margin-bottom: 20px;
				}
				&:before{
					top: 0;
					margin-top: 2px;
				}
				p{
					margin: 0 0 14px;
				}
			}
			.title{
				display: block;
				font-size: 14px;
				font-weight: 700;
				a{
					@include animate(opacity);
					text-decoration: none;
					&:hover{
						opacity: .7;
					}
				}
			}
		}
	}
}