.logos-block{
	background: #ecf2fc;
	padding: 94px 0 39px;
	@include media('<tablet') {
		padding: 30px 0;
	}
	&.about-page{
		padding-bottom: 44px;
		margin-bottom: 173px;
		@include media('<tablet') {
			padding-bottom: 30px;
			margin-bottom: 30px;
		}
		.middle-title{
			margin-bottom: 108px;
			@include media('<tablet') {
				margin-bottom: 30px;
			}
			&:before{
				margin-top: 49px;
				@include media('<tablet') {
					margin-top: 20px;
				}
			}
		}
	}
	.middle-title{
		color: map-get($base, 'primary-color');
		margin-bottom: 109px;
		@include media('<tablet') {
			margin-bottom: 40px;
		}
		&:before{
			background: map-get($base, 'primary-color');
		}
	}
	.logos-list{
		@extend %listreset;
		display: flex;
		justify-content: center;
		text-align: center;
		margin: 0 0 47px;
		@include media('<tablet') {
			margin-bottom: 15px;
		}
		&.second{
			li{
				margin: 0 3%;
				@include media('<tablet') {
					margin: 0 5px;
				}
			}
		}
		li{
			margin: 0 5.7%;
			@include media('<tablet') {
				margin: 0 10px;
			}
		}
	}
}