.main-info{
	background-repeat: no-repeat;
	background-position: 50% 50%;
	background-size: cover;
	margin: 0 0 47px;
	@include media('<tablet') {
		margin-bottom: 30px;
	}
	&.try-page{
		margin-bottom: 0;
		.meta{
			line-height: 1.15;
			text-transform: uppercase;
			padding: 142px 15px 67px;
			.big-title{
				font-size: 70px;
				margin-bottom: 29px;
				@include media('<desktop') {
					font-size: 50px;
				}
				@include media('<tablet') {
					font-size: 30px;
				}
			}
			.scroll-down{
				text-transform: none;
			}
		}
	}
	&.performance-page{
		margin-bottom: 0;
		.meta{
			line-height: 1.15;
			padding: 140px 15px 67px;
			@include media('<tablet') {
				min-height: auto;
			}
			.big-title{
				font-size: 70px;
				margin-bottom: 31px;
				@include media('<desktop') {
					font-size: 50px;
				}
				@include media('<tablet') {
					font-size: 30px;
				}
			}
		}
	}
	&.tech-page{
		margin-bottom: 16px;
		.meta{
			line-height: 1.15;
			padding: 210px 15px 104px;
			text-transform: uppercase;
			.big-title{
				font-size: 70px;
				margin-bottom: 38px;
				@include media('<desktop') {
					font-size: 50px;
				}
				@include media('<tablet') {
					font-size: 30px;
				}
			}
		}
	}
	&.about-page{
		.meta{
			max-width: 665px;
			line-height: 1.15;
			padding: 210px 15px 81px;
			.big-title{
				font-size: 70px;
				@include media('<desktop') {
					font-size: 50px;
				}
				@include media('<tablet') {
					font-size: 30px;
				}
			}
		}
	}
	&.boost-business-page{
		margin-bottom: 0;
		.meta{
			line-height: 1.15;
			padding: 165px 15px 104px;
			text-transform: uppercase;
			.big-title{
				font-size: 70px;
				margin-bottom: 31px;
				@include media('<desktop') {
					font-size: 50px;
				}
				@include media('<tablet') {
					font-size: 30px;
				}
			}
		}
	}
	&.staytuned-page{
		margin-bottom: 0;
		.meta{
			line-height: 1.15;
			padding: 160px 15px 124px;
			.big-title{
				font-size: 70px;
				margin-bottom: 31px;
				@include media('<desktop') {
					font-size: 50px;
				}
				@include media('<tablet') {
					font-size: 30px;
				}
			}
		}
	}
	&.scaleup-page{
		margin-bottom: 0;
		.meta{
			line-height: 1.15;
			padding: 140px 15px 67px;
			.big-title{
				font-size: 70px;
				margin-bottom: 31px;
				@include media('<desktop') {
					font-size: 50px;
				}
				@include media('<tablet') {
					font-size: 30px;
				}
			}
		}
	}
	&.boost-product-page{
		margin-bottom: 0;
		.meta{
			line-height: 1.15;
			padding: 143px 15px 63px;
			.big-title{
				font-size: 70px;
				@include media('<desktop') {
					font-size: 50px;
				}
				@include media('<tablet') {
					font-size: 30px;
				}
			}
		}
	}
	&.faq-page{
		.meta{
			line-height: 1.15;
			padding: 165px 15px 13px;
			.big-title{
				font-size: 70px;
				@include media('<desktop') {
					font-size: 50px;
				}
				@include media('<tablet') {
					font-size: 30px;
				}
			}
		}
	}
	&.light-theme{
		background: none;
		.meta{
			color: map-get($base, 'primary-color');
			.big-title{
				color: map-get($base, 'primary-color');
			}
		}
	}
	&.isv-page{
		margin: 0;
		.meta{
			text-transform: uppercase;
			padding: 146px 15px 62px;
			line-height: 1.15;
			@include media('<tablet') {
				font-size: 15px;
			}
			.big-title{
				font-size: 70px;
				margin: 0 0 30px;
				@include media('<desktop') {
					font-size: 50px;
				}
				@include media('<tablet') {
					font-size: 30px;
				}
			}
		}
		.scroll-down{
			text-transform: none;
		}
	}
	&.road-page{
		margin: 0 0 86px;
		@include media('<tablet') {
			margin-bottom: 30px;
		}
		.meta{
			padding: 151px 15px 89px;
			line-height: 1;
			max-width: 550px;
			@include media('<tablet') {
				font-size: 15px;
			}
			.big-title{
				font-size: 94px;
				margin: 0 0 36px;
				text-transform: none;
				@include media('<desktop') {
					font-size: 50px;
				}
				@include media('<tablet') {
					font-size: 30px;
				}
			}
		}
	}
	&.full-section{
		height: 100vh;
		.meta{
			padding: 70px 15px 15px;
			height: 100%;
		}
	}
	.container{
		max-width: 750px;
		padding: 0 15px;
		margin: 0 auto;
	}
	.meta{
		font-size: 18px;
		color: #fff;
		text-align: center;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		max-width: 846px;
		margin: 0 auto;
		padding: 154px 15px 125px;
		line-height: 0.92;
		@include media('<tablet') {
			font-size: 16px;
		}
		.big-title{
			margin: 0 0 29px;
			letter-spacing: 1px;
			width: 100%;
		}
	}
	.text-wrap{
		color: #fff;
		text-align: center;
		background: rgba(4, 16, 41, .9);
		padding: 58px 0 52px;
		line-height: 1.6;
		@include media('<tablet') {
			padding: 30px 0 15px;
		}
		p{
			margin: 0 0 24px;
			@include media('<tablet') {
				margin-bottom: 15px;
			}
		}
	}
	.scroll-down{
		@include animate(border);
		font-size: 18px;
		font-weight: 700;
		cursor: pointer;
		border-bottom: 2px solid map-get($base, 'primary-color-light');
		display: inline-block;
		margin: 36px 0 0;
		padding: 0 0 4px;
		@include media('<tablet') {
			font-size: 16px;
		}
		&:hover{
			border-color: transparent;
		}
		.arrow{
			@include animate(transform);
			position: relative;
			border: solid #fff;
			border-width: 0 2px 2px 0;
			display: inline-block;
			padding: 4px;
			transform: rotate(45deg);
			margin: 0 0 3px 5px;
		}
	}
}