.modal-block{
	background-repeat: no-repeat;
	background-position: 50% 100%;
	background-size: cover;
	height: 258px;
	.heading{
		font-size: 37px;
		font-weight: 200;
		color: #fff;
		display: block;
		text-align: center;
		margin: 0 0 38px;
		@include media('<tablet') {
			font-size: 30px;
			margin-bottom: 30px;
		}
	}
	.btn-fill{
		margin: 0 auto;
		padding: 14px 44px 16px;
		max-width: 197px;
	}
	.container{
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		height: 100%;
	}
}