$modals: (
  'zindex-modal': 13050,
  'zindex-modal-background': 1040,
  'modal-content-bg': #fff,
  'modal-backdrop-bg': rgba(0, 0, 0, .4),
  'modal-content-border-color': transparent,
  'border-radius-large': 0,
  'modal-title-padding': 80px 20px 20px,
  'modal-inner-padding': 20px,
  'modal-header-border-color': transparent,
  'modal-title-line-height': 1.2,
  'modal-footer-border-color': transparent,
  'modal-backdrop-opacity': .5,
  'modal-lg': 544px,
  'modal-md': 700px,
  'modal-sm': 300px,
  'brend-color-light': #f48058
  );

.modal-open {
  overflow: hidden;
}

.modal {
  display: none;
  overflow: hidden;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  padding-right: 0 !important;
  z-index: map-get($modals, 'zindex-modal');
  -webkit-overflow-scrolling: touch;
  background: rgba(0, 0, 0, .3);
  outline: 0;
  @include media('<tablet') {
    background: transparent;
  }
  &.fade .modal-dialog {
    @include animate(transform, 0.2s, ease-in);
    top: 14%;
    left: 50%;
    transform: translate(-50%, 0);
    opacity: 0;
    transition: opacity .15s linear;
    @include media('<tablet') {
      top: 69px;
    }
  }
  &.in .modal-dialog {
    @include animate(transform, 0.2s, ease-in);
    opacity: 1;
  }
  &.review-modal {
    &.fade {
      .modal-dialog {
        top: 11vh;
        transform: translate(-50%, 0%);
        @include media('<tablet') {
          top: 0;
        }
      }
    }
  }
}
.modal-open .modal {
  overflow-x: hidden;
  overflow-y: auto;
}

.fade {
  opacity: 0;
  transition: opacity .15s linear;
  &.in{
    opacity: 1;
  }
}

.modal-dialog {
  position: absolute;
  width: auto;
  margin: 10px;
  @include media('<tablet') {
    margin: 0;
    width: 100%;
  }
}

.modal-content {
  position: relative;
  background-color: map-get($modals, 'modal-content-bg');
  border: 0 solid map-get($modals, 'modal-content-border-color');
  border-radius: map-get($modals, 'border-radius-large');
  background-clip: padding-box;
  outline: 0;
  transform: translate3d(0, 0, 0);
  padding: 39px 59px 57px 57px;
  @include media('<tablet') {
    padding: 15px;
  }
  .meta{
    margin: 0 0 31px;
    @include media('<tablet') {
      margin-bottom: 15px;
    }
    a{
      @include animate(opacity);
      text-decoration: none;
      font-weight: 700;
      &:hover{
        opacity: .7;
      }
    }
  }
  .ajax-msg{
    font-size: 14px;
    color: red;
    text-align: center;
    margin: 0 0 10px;
  }
  .modal-title{
    font-size: 24px;
    font-weight: 700;
    margin: 0 0 24px;
    display: block;
    @include media('<tablet') {
      font-size: 20px;
      margin-bottom: 15px;
    }
  }
  .modal-row{
    &.top-row{
      background: #fff;
      text-align: center;
      padding: 18px 0;
      margin: 0 0 24px;
    }
    &.social-row{
      border-bottom: 1px solid rgba(61, 78, 97, 0.2);
      margin: 0 0 20px;
      @include media('<tablet') {
        margin: 0 14px 20px;
      }
    }
    &.radio-row{
      text-align: center;
      margin: 15px 0 19px;
    }
    &.date-row{
      font-size: 10px;
      color: map-get($base, 'primary-color-medium');
      letter-spacing: 0.4px;
      margin: 0 0 20px;
      @include media('<tablet') {
        margin: 0 14px 20px;
      }
    }
    &.accept-row{
      margin: 21px 0 0;
      padding: 0 0 25px;
      @include media('<tablet') {
        padding: 0 12px 19px;
      }
      .switcher-box{
        padding: 0;
        margin: 0;
      }
      .switcher{
        .span{
          font-size: 10px;
          line-height: 1.4;
          color: #313e4d;
          margin: 0 0 0 61px;
        }
      }
    }
  }
  .btn-link{
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 0.8px;
    background: none;
    border: none;
    color: map-get($base, 'primary-color-medium');
    outline: none;
    padding: 0;
  }
  .signin-form, .signup-form, .forgot-password-form{
    max-width: 293px;
    padding: 0 10px;
    margin: 0 auto;
    @include media('<tablet') {
      max-width: 300px;
      padding: 0;
    }
  }
  .forgot-password-form{
    .label-title{
      font-size: 14px;
      margin: 15px 0;
      text-align: center;
    }
    .holder-button{
      position: relative;
      padding: 0 0 50px;
      .loader-img{
        position: absolute;
        top: 15px;
        left: 11px;
        display: none;
        &.active{
          display: block;
        }
      }
    }
  }
  .label-forgot{
    text-align: center;
    padding: 0 0 41px;
    margin: 0;
    @include media('<tablet') {
      padding-bottom: 17px;
    }
    .btn-link{
      letter-spacing: normal;
      @include media('<tablet') {
        letter-spacing: 0.5px;
      }
    }
  }
  .btn-holder{
    margin: 0 0 20px;
    position: relative;
    @include media('<tablet') {
      margin: 20px 0;
    }
    .loader-img{
      position: absolute;
      top: 15px;
      left: 11px;
      display: none;
      &.active{
        display: block;
      }
    }
  }
  .form-group{
    &.date-group{
      margin: 19px -5px 20px;
      @include media('<tablet') {
        margin: 19px 0 20px;
      }
      .date-field{
        width: 85px;
        &.filled{
            .simple-input{
                padding: 22px 10px 4px 10px;
            }
        }
        .label{
            width: 100%;
            left: 0;
            text-align: center;
        }
        .select2-container{
          .select2-selection--single{
            .select2-selection__rendered{
              padding-left: 8px;
            }
            .select2-selection__arrow{
              b{
                margin-left: -2px;
              }
            }
          }
        }
        .simple-input{
          @include placeholder {
            color: #818a8c;
          }
          font-size: 14px;
          font-weight: 300;
          font-style: italic;
          color: #818a8c;
          width: 100%;
          padding: 0 10px;
          text-align: center;
          border-color: rgba(60,78,97,.3);
          -webkit-appearance: none;
          &:focus{
            padding: 22px 10px 4px 10px;
          }
        }
      }
    }
    .form-control{
      letter-spacing: normal;
    }
    label{
      // letter-spacing: normal;
    }
  }
  .radio-group{
    position: relative;
    padding: 0 0 0 30px;
    margin: 0 10px;
    display: inline-block;
    vertical-align: middle;
    cursor: pointer;
    input[type="radio"]{
      display: none;
      &:checked{
        + .checked-icon{
          background: map-get($base, 'primary-color-medium');
        }
      }
    }
    label{
      font-size: 14px;
      font-weight: 400;
      color: map-get($base, 'primary-color-medium');
      cursor: pointer;
    }
    .checked-icon{
      @include animate(background);
      display: inline-block;
      width: 20px;
      height: 20px;
      border-radius: 50%;
      background: #fff;
      border: 1px solid rgba(129, 138, 140, 0.3);
      position: absolute;
      top: 3px;
      left: 0;
    }
  }
}

.modal-open .select2-container.select2-container--open{
  z-index: 13051;
}

.modal-backdrop {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: map-get($modals, 'zindex-modal-background');
  background-color: map-get($modals, 'modal-backdrop-bg');
  &.fade {
    opacity: 0;
  }
  &.in {
    opacity: map-get($modals, 'modal-backdrop-opacity');
  }
}

.modal-header {
  @extend %clearfix;
  padding: map-get($modals, 'modal-title-padding');
  border-bottom: 0 solid map-get($modals, 'modal-header-border-color');
  text-align: center;
  position: relative;
  @include media('<desktop') {
    padding-top: 53px;
  }
  .text{
    color: #3a3b3e;
    max-width: 580px;
    margin: 0 auto;
    line-height: 1.45;
    @include media('<desktop') {
      font-size: 14px;
      line-height: 1.5;
    }
  }
}
.modal-dialog .close {
  @include animate(color);
  position: absolute;
  top: -49px;
  right: -3px;
  background: none;
  border: none;
  color: #fff;
  font-size: 40px;
  padding: 5px;
  line-height: 15px;
  outline: none;
  @include media('<tablet') {
    position: fixed;
    right: 15px;
    top: -51px;
    width: 36px;
    height: 35px;
    border: 2px solid #fff;
    border-radius: 50%;
    font-size: 23px;
    line-height: 30px;
    background: #313e4d;
    color: #4fa1b3;
  }
  &:hover{
    color: #4fa1b3;
  }
}

.modal-title {
  margin: 0;
  line-height: map-get($modals, 'modal-title-line-height');
  @include media('<desktop') {
    margin: 0 0 4px;
  }
}

.modal-body {
  position: relative;
  padding: map-get($modals, 'modal-inner-padding');
  .inner{
    max-width: 795px;
    margin: 0 auto;
  }
}

.modal-footer {
  @extend %clearfix;
  padding: map-get($modals, 'modal-inner-padding');
  text-align: right;
  border-top: 0 solid map-get($modals, 'modal-footer-border-color');

  .btn + .btn {
    margin-left: 5px;
    margin-bottom: 0;
  }
  .btn-group .btn + .btn {
    margin-left: -1px;
  }
  .btn-block + .btn-block {
    margin-left: 0;
  }
}

.modal-scrollbar-measure {
  position: absolute;
  top: -9999px;
  width: 50px;
  height: 50px;
  overflow: scroll;
}

.modal-heading{
  color: map-get($modals, 'brend-color-light');
  line-height: 1.35;
  display: block;
  margin: 0 0 27px;
  @include media('<desktop') {
    font-size: 30px;
    line-height: 1.3;
    margin-bottom: 26px;
  }
}

@media (min-width: 768px) {
  .modal-dialog {
    width: map-get($modals, 'modal-lg');
    margin: 45px auto;
  }
  .modal-sm { width: map-get($modals, 'modal-sm'); }
}

@media (min-width: 1024px) {
  .modal-dialog {
    width: map-get($modals, 'modal-lg');
  }
  .modal-lg {
    width: map-get($modals, 'modal-lg');
  }
}