.move-block{
	background: #0f1b46;
	padding: 112px 0 50px;
	@include media('<tablet') {
		padding: 30px 0 10px;
	}
	.container{
		max-width: 1064px;
		margin: 0 auto;
		padding: 0 15px;
	}
	.middle-title{
		color: #fff;
		max-width: 335px;
		margin: 0 auto 111px;
		@include media('<tablet') {
			margin-bottom: 40px;
		}
		&:before{
			background: #fff;
			margin-top: 49px;
			@include media('<tablet') {
				margin-top: 20px;
			}
		}
	}
	.row{
		display: flex;
		justify-content: space-around;
		margin: 0 0 56px;
		@include media('<tablet') {
			display: block;
			margin-bottom: 10px;
		}
	}
	.item{
		font-size: 18px;
		color: #fff;
		text-align: center;
		margin: 0 20px;
		@include media('<tablet') {
			font-size: 16px;
			margin: 0;
		}
		.title{
			display: block;
			margin: 0 0 3px;
		}
		.description{
			display: block;
			margin: 0 0 12.5%;
			@include media('<tablet') {
				margin-bottom: 15px;
			}
		}
		&:last-child{
			.description{
				margin-bottom: 23.3%;
				@include media('<tablet') {
					margin-bottom: 15px;
				}
			}
		}
	}
	.arrow{
		padding: 23.5% 0 0;
		@include media('<tablet') {
			padding: 25px 0;
			text-align: center;
		}
		img{
			@include media('<tablet') {
				transform: rotate(90deg);
			}
		}
	}
	.tooltip-wrap{
		position: relative;
		font-size: 13px;
		line-height: 1.3;
		color: #fff;
		background: #122050;
		max-width: 417px;
		border: 2px solid map-get($base, 'primary-color-light');
		border-radius: 3px;
		margin: 55px 18px 0 0;
		padding: 39px 25px 20px 22px;
		text-align: left;
		@include media('<tablet') {
			margin: 30px 0 0 0;
			padding: 15px 15px 5px;
			max-width: none;
		}
		.triangle{
			position: absolute;
			top: -15px;
			left: 50%;
			margin-left: -19px;
			border: 1px solid #122050;
			border-width: 0 18px 17px;
			border-left-color: transparent;
			border-right-color: transparent;
			&:before, &:after{
				content: "";
				position: absolute;
				top: 4px;
				left: -4px;
				width: 24px;
				height: 2px;
				transform: rotate(45deg);
				background: map-get($base, 'primary-color-light');
			}
			&:after{
				left: -20px;
				transform: rotate(-45deg);
			}
		}
		.tooltip{
			@extend %listreset;
			li{
				padding: 0 0 0 13px;
				margin: 0 0 16px;
				position: relative;
				&:before{
					content: '';
					position: absolute;
					top: 9px;
					left: 0;
					width: 3px;
					height: 3px;
					border-radius: 50%;
					background: #fff;
				}
			}
		}
	}
}