.navbar{
	@include animate(padding);
	float: right;
	font-size: 14px;
	color: #fff;
	padding: 11px 17px 0 0;
	@include media('>=widescreen') {
		display: block !important;
	}
	@include media('<widescreen') {
		display: none;
		float: none;
		&.active{
			display: block;
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			padding: 50px 0 0;
			background: rgba(0, 0, 0, .8);
			text-align: center;
		}
	}
	.light-theme &, .menu-open &{
		color: map-get($base, 'primary-color');
		@include media('<widescreen') {
			color: #fff;
		}
	}
	.menu{
		@extend %listreset;
		@extend %clearfix;
		ul{
			@extend %listreset;
			display: none;
			position: absolute;
			top: 100%;
			left: 0;
			width: 300px;
			max-width: 225px;
			padding: 5px 0 0;
			@include media('<widescreen') {
				position: static;
				width: 100%;
				max-width: 350px;
				margin: 0 auto;
				text-align: left;
			}
			a{
				font-weight: 200;
				border-bottom: 1px solid transparent;
				display: inline-block;
				padding: 9px 0 5px;
				margin: 0 0 6px 11px;
				@include media('<widescreen') {
					display: block;
				}
				.menu-open &{
					color: #fff;
				}
				&:hover{
					color: map-get($base, 'primary-color-light');
					border-color: map-get($base, 'primary-color-light');
				}
			}
		}
		> li{
			position: relative;
			float: left;
			margin: 0 0 0 9px;
			padding: 5px 8px 7px 7px;
			@include media('<widescreen') {
				float: none;
				margin: 0;
			}
			&:before{
				content: '';
				background: #fff;
				display: inline-block;
				position: absolute;
				top: 6px;
				left: -6px;
				width: 1px;
				height: 15px;
				@include media('<widescreen') {
					display: none;
				}
				.light-theme &{
					background: map-get($base, 'primary-color');
				}
			}
			&:first-child{
				&:before{
					display: none;
				}
			}
			&:last-child{
				border: 2px solid map-get($base, 'primary-color-light');
				border-radius: 5px;
				margin: 0 0 0 5px;
				padding: 5px 8px 5px 5px;
				@include media('<widescreen') {
					border: none;
				}
				@include media('<tablet') {
					border-radius: 0;
					border-width: 1px 0;
				}
				&:before{
					display: none;
				}
				.light-theme &{
					border: 2px solid map-get($base, 'primary-color');
					@include media('<widescreen') {
						border: none;
					}
				}
				a{
					padding: 4px 6px 8px;
					margin: -5px -6px -7px;
					@include media('<widescreen') {
						padding: 13px 0;
					}
				}
			}
			&.subtitle{
				padding: 5px 8px 7px 7px;
				cursor: pointer;
				&:hover{
					.arrow{
						@include media('>=widescreen') {
							transform: rotate(-135deg);
						}
					}
				}
				&.current-menu-item{
					color: #fff;
					.menu-open &{
						z-index: 30;
						opacity: 1;
					}
					&:before{
						.menu-open &{
							display: none;
						}
					}
					> a{
						.menu-open &{
							color: #fff;
							.arrow{
								border-color: #fff;
							}
						}
					}
					.arrow{
						transform: rotate(-135deg);
					}
				}
				> a{
					margin: -5px -8px -7px -7px;
					position: relative;
					.menu-open &{
						opacity: 1;
					}
				}
				.arrow{
					@include animate(transform);
					border: solid #fff;
					border-width: 0 1px 1px 0;
					display: inline-block;
					padding: 2px;
					transform: rotate(45deg);
					margin: 0 0 3px 5px;
					.light-theme &{
						border: solid map-get($base, 'primary-color');
						border-width: 0 1px 1px 0;
						@include media('<widescreen') {
							border-color: #fff;
						}
					}
				}
				&:hover{
					.arrow{
						@include media('>=widescreen') {
							transform: rotate(-135deg);
						}
					}
				}
			}
			&.back{
				> a{
					&:before{
						@include animate(transform);
						content: '';
						border: solid #fff;
						border-width: 0 1px 1px 0;
						display: inline-block;
						padding: 2px;
						transform: rotate(135deg);
						position: absolute;
						top: 12px;
						left: -3px;
						@include media('<widescreen') {
							display: none;
						}
						.light-theme &{
							border: solid map-get($base, 'primary-color');
							border-width: 0 1px 1px 0;
						}
					}
				}
			}
			> a{
				padding: 5px 8px 7px 7px;
				margin: -5px -8px -7px -7px;
				@include media('<widescreen') {
					padding: 13px 0;
				}
				&:hover{
					opacity: .5;
				}
			}
		}
	}
	a{
		@include animate(all);
		display: block;
		color: #fff;
		text-decoration: none;
		.light-theme &{
			color: map-get($base, 'primary-color');
			@include media('<widescreen') {
				color: #fff;
			}
		}
	}
}