.partner-block{
	background: #14223d;
	padding: 112px 0 89px;
	margin: 0 0 114px;
	color: #fff;
	@include media('<tablet') {
		padding: 30px 0 5px;
		margin-bottom: 30px;
	}
	.container{
		display: flex;
		justify-content: space-between;
		@include media('<tablet') {
			display: block;
		}
	}
	.item{
		width: 40%;
		line-height: 1.6;
		text-align: center;
		padding: 0 38px;
		@include media('<tablet') {
			width: 100%;
			margin-bottom: 45px;
			padding: 0 15px;
		}
	}
	.logo-holder{
		min-height: 52px;
		margin: 0 0 32px;
		@include media('<tablet') {
			min-height: auto;
			margin-bottom: 15px;
		}
	}
}