.platform-block{
	background: #0f1b46;
	padding: 55px 0 452px;
	@include media('<tablet') {
		padding: 15px 0;
		margin: 0 0 20px;
	}
	.container{
		max-width: 1094px;
		margin: 0 auto;
		padding: 0 15px;
	}
	.middle-title{
		max-width: 420px;
		margin: 0 auto 41px;
		@include media('<tablet') {
			margin-bottom: 20px;
		}
		&:before{
			display: none;
		}
	}
	.inner{
		display: flex;
		align-items: center;
		justify-content: space-between;
		@include media('<tablet') {
			display: block;
		}
	}
	.item{
		color: #fff;
		text-align: center;
		background: #122050;
		box-shadow: 1px 0 16px rgba(0, 0, 0, .28);
		width: 38.7%;
		padding: 38px 15px 60px;
		@include media('<tablet') {
			width: 100%;
			padding: 30px 15px;
			margin: 0 0 20px;
		}
		.img-holder{
			margin: 0 0 20px;
			min-height: 80px;
			@include media('<tablet') {
				min-height: auto;
				margin-bottom: 10px;
			}
		}
		.title{
			font-size: 24px;
			font-weight: 700;
			display: block;
			margin: 0 0 5px;
			@include media('<tablet') {
				font-size: 20px;
			}
		}
		.description{
			display: block;
			margin: 0 0 36px;
			@include media('<tablet') {
				margin-bottom: 15px;
			}
		}
	}
	.middle-item{
		text-align: center;
		width: 22.6%;
		@include media('<tablet') {
			width: 100%;
		}
		.min-title{
			color: map-get($base, 'primary-color-light');
			display: block;
			margin: 0 0 38px;
			@include media('<tablet') {
				margin-bottom: 20px;
			}
		}
		.min-mid-title{
			color: #fff;
			text-transform: uppercase;
			display: block;
			margin: 0 0 40px;
			@include media('<tablet') {
				margin-bottom: 25px;
			}
		}
		.img-wrap{
			margin: 0 0 34px;
			@include media('<tablet') {
				margin-bottom: 20px;
			}
		}
	}
	.list-link{
		@extend %listreset;
		position: relative;
		&:before{
			content: '';
			position: absolute;
			top: 0;
			left: 50%;
			transform: translateX(-50%);
			width: 150px;
			height: 1px;
			background: map-get($base, 'primary-color-light');
		}
		li{
			font-size: 14px;
			font-weight: 700;
			position: relative;
			padding: 26px 0 31px;
			@include media('<tablet') {
				padding: 15px 0;
			}
			&:before{
				content: '';
				position: absolute;
				bottom: 0;
				left: 50%;
				transform: translateX(-50%);
				width: 150px;
				height: 1px;
				background: map-get($base, 'primary-color-light');
			}
		}
	}
}