.shadow-block{
	margin: 0 0 84px;
	@include media('<tablet') {
		margin-bottom: 30px;
	}
	.container{
		max-width: 1094px;
	}
	.holder{
		display: flex;
		justify-content: center;
		margin: 0 -15px;
		@include media('<tablet') {
			display: block;
			margin: 0;
		}
	}
	.item{
		line-height: 1.4;
		margin: 0 17px;
		padding: 15px 42px 17px;
		width: 30.3%;
		text-align: center;
		box-shadow: 1px 0 16px rgba(#003366, .28);
		@include media('<desktop') {
			margin: 0 7px;
			padding: 15px;
		}
		@include media('<tablet') {
			width: 100%;
			margin: 0 0 10px;
		}
		.ico-holder{
			height: 204px;
			margin: 0 0 47px;
			display: flex;
			justify-content: center;
			align-items: flex-end;
			@include media('<tablet') {
				height: auto;
				display: block;
				margin-bottom: 15px;
			}
		}
		.title{
			display: block;
			margin: 0 0 22px;
			@include media('<tablet') {
				margin-bottom: 15px;
			}
		}
	}
}