.simple-text-block{
	line-height: 1.6;
	color: #fff;
	background: #0c1727;
	text-align: center;
	padding: 46px 0 52px;
	margin: 0 0 81px;
	@include media('<tablet') {
		font-size: 14px;
		padding: 30px 0 15px;
		margin-bottom: 30px;
	}
	&.try-page{
		padding-bottom: 37px;
		margin-bottom: 79px;
		@include media('<tablet') {
			padding-bottom: 15px;
			margin-bottom: 30px;
		}
		.container{
			max-width: 555px;
		}
	}
	&.performance-page{
		padding-bottom: 37px;
		margin-bottom: 135px;
		@include media('<tablet') {
			padding-bottom: 15px;
			margin-bottom: 30px;
		}
		.container{
			max-width: 600px;
		}
	}
	&.boost-business-page{
		padding-bottom: 37px;
		margin-bottom: 95px;
		@include media('<tablet') {
			padding-bottom: 15px;
			margin-bottom: 30px;
		}
		.container{
			max-width: 660px;
		}
	}
	&.staytuned-page{
		padding: 61px 0 38px;
		margin-bottom: 161px;
		@include media('<tablet') {
			padding: 30px 0 15px;
			margin-bottom: 30px;
		}
		.container{
			max-width: 670px;
		}
	}
	&.scaleup-page{
		padding-bottom: 38px;
		margin-bottom: 136px;
		@include media('<tablet') {
			padding-bottom: 15px;
			margin-bottom: 30px;
		}
		.container{
			max-width: 540px;
		}
	}
	&.boost-product-page{
		padding-bottom: 53px;
		margin-bottom: 66px;
		@include media('<tablet') {
			padding-bottom: 15px;
			margin-bottom: 30px;
		}
		.container{
			max-width: 490px;
		}
	}
	.container{
		max-width: 805px;
		margin: 0 auto;
		padding: 0 15px;
	}
	p{
		margin: 0 0 24px;
	}
}