.tech-block{
	margin: 0 0 58px;
	@include media('<tablet') {
		margin-bottom: 30px;
	}
	&.inverse{
		background: #f8f8f8;
		padding: 128px 0 4px;
		margin: 0;
		@include media('<tablet') {
			padding: 30px 0;
		}
		.meta{
			flex-direction: row-reverse;
			padding-bottom: 90px;
			margin-bottom: 66px;
			border-color: #cad2de;
			@include media('<tablet') {
				padding-bottom: 30px;
				margin-bottom: 30px;
			}
			.logo-hold{
				padding: 0 0 0 13.3%;
				@include media('<tablet') {
					padding: 0;
				}
			}
			.text-hold{
				width: 51.7%;
				padding: 0 7% 0 0;
				@include media('<tablet') {
					width: 100%;
					padding: 0;
				}
			}
			.heading{
				padding: 0 0 0 12px;
				@include media('<tablet') {
					padding: 0;
				}
			}
		}
		.items-wrap{
			justify-content: space-between;
			margin: 0;
			.item{
				max-width: none;
				width: 29%;
				margin: 0 0 102px;
				padding: 0;
				@include media('<tablet') {
					width: 100%;
					margin-bottom: 30px;
				}
			}
			.ico-holder{
				height: 125px;
				margin-bottom: 42px;
				@include media('<tablet') {
					height: auto;
					margin-bottom: 20px;
				}
			}
			.list-services{
				@extend %listreset;
			}
			.min-heading{
				margin-bottom: 21px;
				@include media('<tablet') {
					margin-bottom: 1px;
				}
			}
		}
		.title{
			margin-bottom: 88px;
			@include media('<tablet') {
				margin-bottom: 30px;
			}
		}
	}
	.meta{
		display: flex;
		justify-content: space-between;
		border-bottom: 1px solid #ecf2fc;
		padding: 0 11px 95px;
		margin: 0 0 65px;
		@include media('<tablet') {
			display: block;
			margin-bottom: 30px;
			padding-bottom: 30px;
		}
		.heading{
			font-size: 51px;
			font-weight: 100;
			margin: 0 0 24px;
			@include media('<tablet') {
				font-size: 30px;
				margin-bottom: 15px;
			}
		}
		.text-hold{
			width: 45%;
			@include media('<tablet') {
				width: 100%;
			}
		}
		.logo-hold{
			width: 42.7%;
			margin: 73px 0 0;
			@include media('<tablet') {
				width: 100%;
				margin-top: 30px;
				text-align: center;
			}
		}
	}
	.title{
		font-size: 30px;
		font-weight: 300;
		display: block;
		margin: 0 0 63px;
		@include media('<tablet') {
			font-size: 25px;
			text-align: center;
			margin-bottom: 30px;
		}
	}
	.items-wrap{
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		margin: 0 0 10px;
		@include media('<tablet') {
			display: block;
		}
		.item{
			max-width: 180px;
			line-height: 1.4;
			margin: 0 2% 49px;
			padding: 0 8px;
			text-align: center;
			@include media('<tablet') {
				max-width: 300px;
				margin: 0 auto 30px;
			}
		}
		.ico-holder{
			display: flex;
			align-items: flex-end;
			justify-content: center;
			height: 80px;
			margin: 0 0 32px;
			@include media('<tablet') {
				height: auto;
				margin-bottom: 15px;
			}
		}
		.min-heading{
			font-weight: 700;
			display: block;
			margin: 0 0 1px;
			min-height: 42px;
			@include media('<tablet') {
				min-height: auto;
			}
		}
	}
	.link-holder{
		text-align: center;
	}
	.link{
		@include animate(border);
		font-weight: 700;
		text-decoration: none;
		border-bottom: 1px solid map-get($base, 'primary-color');
		padding: 0 0 2px;
		@include media('<tablet') {
			line-height: 1.6;
		}
		&:hover{
			border-color: transparent;
		}
		.arrow{
			border: solid map-get($base, 'primary-color-light');
			border-width: 0 2px 2px 0;
			display: inline-block;
			padding: 3px;
			transform: rotate(-45deg);
			margin: 0 0 0 -2px;
		}
	}
}