.text-block{
	font-size: 14px;
	line-height: 1.3;
	background: #ecf2fc;
	padding: 90px 0 57px;
	margin: 0 0 80px;
	@include media('<tablet') {
		padding: 30px 0;
		margin-bottom: 30px;
	}
	.container{
		display: flex;
		justify-content: space-between;
		@include media('<tablet') {
			display: block;
		}
		.text-col{
			width: 46%;
			@include media('<tablet') {
				width: 100%;
			}
		}
	}
	.text-hold{
		margin: 0 0 30px;
		@include media('<tablet') {
			margin-bottom: 20px;
		}
	}
	.heading-little{
		font-size: 14px;
		margin: 0;
	}
	.table{
		width: 100%;
		border-collapse: collapse;
		margin: 34px 0 32px;
		max-width: 390px;
		@include media('<tablet') {
			margin: 15px 0;
			max-width: none;
		}
		tr{
			&:last-child{
				td{
					border: none;
				}
			}
		}
		th, td{
			width: 50%;
		}
		th{
			text-align: left;
			border-bottom: 1px solid map-get($base, 'primary-color');
			padding: 0 0 8px;
		}
		td{
			border-bottom: 1px solid #dadada;
			padding: 6px 5px 8px 0;
			vertical-align: top;
		}
	}
	p{
		margin: 0 0 15px;
	}
}