.try-block{
	margin: 0 0 134px;
	@include media('<tablet') {
		margin-bottom: 30px;
	}
	.container{
		max-width: 1094px;
		display: flex;
		justify-content: center;
		flex-wrap: wrap;
		@include media('<tablet') {
			display: block;
		}
	}
	.item{
		width: 18.8%;
		text-align: center;
		margin: 0 25px;
		line-height: 1.4;
		@include media('<desktop') {
			width: 20%;
			margin: 0 18px;
		}
		@include media('<tablet') {
			width: 100%;
			margin: 0 0 30px;
		}
		.ico-holder{
			height: 130px;
			display: flex;
			justify-content: center;
			align-items: flex-end;
			margin: 0 0 42px;
			@include media('<tablet') {
				height: auto;
				margin-bottom: 20px;
			}
		}
		.title{
			font-weight: 700;
			display: block;
			min-height: 42px;
			margin: 0 0 21px;
			@include media('<tablet') {
				min-height: auto;
				margin-bottom: 10px;
			}
		}
	}
}