.try-form-block{
	padding: 0 0 222px;
	@include media('<tablet') {
		padding-bottom: 30px;
	}
	.container{
		max-width: 1018px;
		display: flex;
		justify-content: space-between;
		@include media('<tablet') {
			display: block;
		}
	}
	.col{
		&.list-hold{
			width: 36%;
			padding: 38px 0 0;
			@include media('<tablet') {
				width: 100%;
				padding: 0;
			}
			.bold-title{
				max-width: 340px;
				margin: 0 0 47px;
				@include media('<tablet') {
					margin-bottom: 20px;
				}
			}
		}
		&.form-hold{
			width: 55%;
			padding: 38px 58px 56px 55px;
			box-shadow: 1px 0 20px rgba(#0f3c58, .28);
			@include media('<tablet') {
				width: 100%;
				padding: 15px;
			}
			.bold-title{
				max-width: 305px;
				margin: 0 0 23px;
				@include media('<tablet') {
					margin-bottom: 10px;
				}
			}
		}
	}
	.list{
		margin: 0 0 50px;
		@include media('<tablet') {
			margin-bottom: 30px;
		}
		li{
			&:before{
				top: 0;
				margin-top: 4px;
			}
		}
	}
	.bold-title{
		line-height: 1.25;
	}
	.arrow-holder{
		font-weight: 700;
		display: block;
		padding: 0 47px 0 0;
		position: relative;
		margin: 0 -13px 0 0;
		letter-spacing: -0.2px;
		@include media('<tablet') {
			margin: 0 0 20px;
		}
		&:before{
			content: '';
			position: absolute;
			top: 0;
			right: 0;
			width: 47px;
			height: 29px;
			background: url(../images/arrow-try.png) no-repeat 0/cover;
			@include media('retina2x') {
				background: url(../images/arrow-try-2x.png) no-repeat 0/cover;
			}
			@include media('<tablet') {
				top: 8px;
				transform: scale(1, -1);
			}
		}
	}
	.feedback-form{
		max-width: none;
		margin: 31px 0 0;
		@include media('<tablet') {
			margin-top: 0;
		}
		.simple-input{
			@include placeholder {
				color: #b1b1b1 !important;
			}
		}
		.btn-fill{
			margin-top: 30px;
		}
	}
}