.btn-transparent{
	@include animate(color background);
	font-size: 14px;
	font-weight: 700;
	display: block;
	text-decoration: none;
	border: 2px solid map-get($base, 'primary-color-light');
	border-radius: 5px;
	padding: 7px 4px 9px;
	text-align: center;
	letter-spacing: -0.2px;
	background: none;
	color: map-get($base, 'primary-color');
	&:hover{
		color: #fff;
		background: map-get($base, 'primary-color-light');
	}
}