.btn-fill{
	@include animate(color background);
	font-size: 18px;
	font-weight: 700;
	display: block;
	text-decoration: none;
	border: 2px solid #00e6ea;
	border-radius: 5px;
	background: #00e6ea;
	padding: 7px 5px 9px;
	text-align: center;
	color: #fff;
	outline: none;
	@include media('<tablet') {
		font-size: 16px;
	}
	&:hover{
		color: map-get($base, 'primary-color');
		background: #fbfbfb;
	}
}