.burger-btn{
  @include animate(margin);
  float: right;
  display: none;
  position: relative;
  width: 55px;
  height: 55px;
  border: 2px solid #fff;
  overflow: hidden;
  padding: 14px 16px;
  z-index: 5;
  font-size: 0;
  outline: none;
  background: rgba(0, 0, 0, .5);
  @include media('<widescreen') {
    display: block;
    margin: 0 0 0 29px;
    width: 42px;
    height: 42px;
  }
  @include media('<tablet') {
    width: 35px;
    height: 35px;
    margin: 0 0 0 15px;
  }
  span{
    @include animate(transform margin, .2s);
    position: absolute;
    top: 50%;
    left: 50%;
    display: block;
    width: 20px;
    height: 2px;
    margin-left: -10px;
    margin-top: -1px;
    background-color: #fff;
    user-select: none;
    @include media('<widescreen') {
      width: 14px;
      margin-left: -7px;
    }
    @include media('<tablet') {
      width: 15px;
      margin-left: -7px;
    }
    &:before, &:after{
      @include animate(transform margin, .2s);
      content: '';
      position: absolute;
      left: 0;
      border-radius: 1px;
      width: 100%;
      height: 100%;
      background: #fff;
      margin-top: -6px;
    }
    &:after{
      margin-top: 6px;
    }
  }
  &.active{
    span{
      background-color: transparent;
      &:before{
        transform: rotate(45deg);
        margin-top: 0;
      }
      &:after{
        transform: rotate(-45deg);
        margin-top: 0;
      }
    }
  }
}