.footer{
	background-repeat: no-repeat;
	background-position: 50% 50%;
	background-size: cover;
	color: #fff;
	padding: 92px 0 79px;
	@include media('<tablet') {
		padding: 30px 0;
	}
	&.road-page{
		padding-top: 150px;
		position: relative;
		@include media('<tablet') {
			padding-top: 30px;
		}
		&:before{
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 300px;
			background: linear-gradient(to bottom, rgba(20,34,61,1) 0%,rgba(20,34,61,0) 100%);
			@include media('<tablet') {
				display: none;
			}
		}
		.footer-block{
			position: relative;
		}
	}
	.container{
		max-width: 924px;
		margin: 0 auto;
		padding: 0 15px;
	}
	.footer-block{
		font-size: 18px;
		font-weight: 400;
		text-align: center;
		@include media('<tablet') {
			font-size: 14px;
		}
		.top{
			max-width: 735px;
			margin: 0 auto 70px;
			line-height: 1.4;
			@include media('<tablet') {
				margin-bottom: 30px;
			}
		}
		.title{
			font-size: 30px;
			font-weight: 700;
			letter-spacing: 0.25px;
			display: block;
			margin: 0 0 18px;
			@include media('<tablet') {
				font-size: 21px;
				margin-bottom: 15px;
			}
			.logo-wrap{
				display: inline-block;
				vertical-align: top;
				margin: 2px 5px 0;
				.moz &{
					display: inline;
					position: relative;
					top: 2px;
					@include media('<tablet') {
						top: 0;
					}
				}
				@include media('<tablet') {
					margin-top: 1px;
				}
			}
			img{
				display: inline-block;
				@include media('<tablet') {
					max-width: 100px;
				}
			}
		}
		.list-logo{
			@extend %listreset;
			display: flex;
			justify-content: center;
			align-items: center;
			margin: 0 0 44px;
			@include media('<tablet') {
				margin-bottom: 20px;
			}
			li{
				margin: 0 16px;
			}
		}
	}
	.inner{
		display: flex;
		justify-content: space-between;
		margin: 0 0 56px;
		@include media('<tablet') {
			display: block;
			margin-bottom: 30px;
		}
		.item{
			width: 26.85%;
			border-top: 2px solid rgba(#00dbff, 0.5);
			padding: 26px 0 0;
			@include media('<tablet') {
				width: 100%;
				padding-top: 15px;
				margin: 0 0 20px;
			}
		}
	}
	.copyright{
		font-size: 12px;
		text-align: center;
		a{
			color: #fff;
			text-decoration: none;
			&:hover{
				text-decoration: underline;
			}
		}
	}
	.footer-list{
		@extend %listreset;
		text-align: center;
		font-size: 14px;
		font-weight: 700;
		li{
			margin: 0 0 8px;
		}
		.thin{
			font-weight: 400;
		}
		a{
			@include animate(opacity);
			color: #fff;
			text-decoration: none;
			&:hover{
				opacity: .7;
			}
		}
	}
}