.header{
	@extend %clearfix;
	@include animate(padding);
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	padding: 26px 22px;
	z-index: 3;
	background: linear-gradient(to bottom, rgba(0,0,0,0.28) 0%,rgba(0,0,0,0.39) 7%,rgba(0,0,0,0.45) 13%,rgba(0,0,0,0.5) 22%,rgba(0,0,0,0.5) 31%,rgba(0,0,0,0.46) 38%,rgba(0,0,0,0.41) 44%,rgba(0,0,0,0.16) 63%,rgba(0,0,0,0.07) 72%,rgba(0,0,0,0.01) 86%,rgba(0,0,0,0) 100%);
	&.light-theme{
		color: map-get($base, 'primary-color');
		background: none;
		.logo{
			.logo-default{
				display: none;
			}
			.logo-blue{
				display: block;
			}
		}
	}
	.overlay{
		background: linear-gradient(to bottom, rgba(0,0,0,.8) 0%,rgba(0,0,0,0) 100%);
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		z-index: 29;
		display: none;
		@include media('<widescreen') {
			display: none !important;
		}
	}
	.logo{
		@include animate(width);
		width: 165px;
		float: left;
		@include media('<tablet') {
			width: 130px;
		}
		img{
			@include animate(transform);
			transform-origin: 0 0;
		}
		.logo-blue{
			display: none;
		}
	}
}